[Desktop Entry]
Version=1.0
Type=Application

Name=Flutter App
Comment=An example app that counts
Categories=Utility;Amusement;

Icon=com.example.FlutterApp
Exec=flutter_flatpak_example %u
Terminal=false
StartupWMClass=flutter_flatpak_example

DBusActivatable=true
MimeType=x-scheme-handler/appflowy-flutter;